.opcion {
    border: 2px solid black;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 300px;
}

#opcion1 {
    background-color: red;
    z-index: 2;
}

#opcion2 {
    background-color: blue;
    z-index: 1;
}