.opcion {
    border: 2px solid black;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 300px;
    .image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
     
      .image-container img {
        width: 200px;
        height: auto;
        margin-right: 10px;
      }
}
