.body {
    text-align: center;
  }
 
  .header {
    margin-top: 50px;
  }
 
  .title {
    font-size: 24px;
    font-weight: bold;
  }
 
  .buttons-container {
    margin-top: 100px;
  }
 
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
 
  .cancelar {
    background-color: red;
    color: white;
  }
 
  .continuar {
    background-color: green;
    color: white;
  }