.limpiar {
    clear: both;
}
p.centrado {
    text-align: center;
  }
img {
    float: left;
    width: 200px;
    height: 200px;
}

img.right {
    float: right;
    width: 200px;
    height: 200px;
}

